<%- include('../partials/header') -%>
<div class="container">
  <div class="card text-center">
    <div class="card-header">Title: <%= course.title %></div>
    <div class="card-body">
      <h5 >Description: <%= course.description %></h5>
      <h5 >Service: <%= course.service %></h5>
      <h5 >Client: <%= course.client %></h5>
      <h5 >Course: <a href="#" class="badge badge-dark"><%= course.projectUrl %></a></h5>
    </div>
    <div class="card-footer text-muted">Posted Date: <%= moment(course.date).format("MM-DD-YYYY") %></div>
  </div>
</div>



<%- include('../partials/footer') -%>
