<%- include('./partials/header') -%> 

<div class="container text-center">
  <%if(courses.length<=0){ %>
  <a class="btn btn-success btn-lg m-auto" href="/admin/add"
    >Go To Add Project</a
  >
  <%} else{ %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Client</th>
        <th scope="col">Actions</th>
        <th scope="col">Posted</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach((course)=>{ %>
      <tr>
        <td>
          <img
            src="<%=course.mainimage %>"
            class="img-fluid"
            alt="Responsive image"
          />
        </td>
        <td><h6><%= course.title %></h6></td>
        <td><h6><%= course.client %></h6></td>
        <td>
          <a href="/admin/show/<%= course.id %>" class="btn btn-dark"
            >Details</a
          >
        </td>
        <td><%= moment(course.date).format("MM-DD-YYYY") %></td>
        <td>
          <%= course.author %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% } %> 
<%- include('./partials/footer') -%>